#container {
  height: 200px;
  padding: 15px;
  display: flex;
  background-color: pink;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

#obj1 {
  color: red;
  align-self: flex-start;
}

#obj2 {
  color: blue;
  order: 1;
  align-self: flex-end;
}

#obj3 {
  color: green;
}
